{% extends 'ecn/base.html' %}
{% load agency_tags %}

{% block content %}

<div class="all-searched-wrapper">
 <div class="forms-wrapper"> 
<form action=" "class="search-form" method="POST" name="searched" >
    {% csrf_token %}
    <div class="in-out-city-tabs">
        <div class="link-tabs">Поиск квартиры, комнаты </div> 
        <a href="{% url 'searched_dacha_type'  1 %} "><div class="link-tabs-passive">Поиск дачи, Участки</div></a>
    </div>
        
    
    <div class="form-fields-wrapper">
        <div class="form-fields"><label class="form-label" for="{{form.sale_or_rent.id_for_label}}">{{form.sale_or_rent.label}} </label>  {{ form.sale_or_rent}}<span class="form-errors">{{ form.errors }}</span> </div>
        <div class="form-fields"><label class="form-label" for="{{form.object_type.id_for_label}}">{{form.object_type.label}} </label>  {{ form.object_type}}<span class="form-errors">{{ form.errors }}</span> </div>
        <div class="form-fields"><label class="form-label" for="{{form.price.id_for_label}}">{{form.price.label}} </label>  {{ form.price}}<span class="form-errors">{{ form.errors }}</span> </div>
        <div class="form-fields"><label class="form-label" for="{{form.city_region.id_for_label}}">{{form.city_region.label}} </label>  {{ form.city_region}}<span class="form-errors">{{ form.errors }}</span> </div>
        <div class="form-fields"><label class="form-label" for="{{form.rooms.id_for_label}}">{{form.rooms.label}} </label>  {{ form.rooms}}<span class="form-errors">{{ form.errors }}</span> </div>
    </div>
    <button class="submit" type="submit">Найти</button>
</form>

</div> 


 <div class="searched-wrapper">
    
{% for obj in selected_items %}
{% if obj.object_type|stringformat:"s" == "Новостройки" %}
    {% include 'ecn/inclusion/new_ap_card.html' %}
{% else %}
    {% include 'ecn/inclusion/object_card.html' %}
{% endif %}
{% empty %}
<div class="non-searched"><h2>Нет объектов</h2></div>
{% endfor%}
</div> 

</div>
{% if selected_items.has_other_pages %}
<div class="pagination-wrapper">
{% if selected_items.has_previous %}
<a class="pagination-item" href="?page={{selected_items.previous_page_number}}">&lt</a>
{% endif%}
{% for pag in selected_items.paginator.page_range %}
{% if pag == selected_items.number %}
    <a class="pagination-item pagination-item-active" href="?page={{pag}}">{{pag}}</a>
{% elif pag >= selected_items.number|add:-2 and pag <= selected_items.number|add:2 %}


<a class="pagination-item" href="?page={{pag}}">{{pag}}</a>
{% endif%}
{% endfor%}
{% if selected_items.has_next %}
<a class="pagination-item" href="?page={{selected_items.next_page_number}}">&gt</a>
{% endif%}
</div>
{% endif %}
{% endblock content %}