{% extends 'ecn/base.html' %}
{% load agency_tags %}


{% block content %}
<div style="margin-inline: auto;" class="search-form">
<div class="tabs_wrapper">
    <div class="tabs_link">Поиск</div>
    <a class="tabs_link " href="{% url 'smart_search' %}">Объкты в городе</a>
    <a class="tabs_link active" href="">Загородные Объкты</a>
    <!-- <a class="tabs_link" href="{% url 'smart_commerc_search' %}">Комерческие Объкты</a> -->
</div>
<hr>
<form style="margin-bottom: 20px; " class="smat-search-form" method="POST" name="smat_dacha_searched"  >
    {% csrf_token %}
    <div class="dacha-fields-wrapper">
    {% for f in form %}
    <div class="form-fields"><label class="form-label" for="{{f.id_for_label}}">{{f.label}} </label>  {{ f }} </div>
    {% endfor %}
   </div>

</div>
{% endblock content %}