{% extends 'ecn/base.html' %}


{% block content %}
<h1 class="reg-title" >Это  Ваша страница , {{ user.first_name }} !</h1>
<div class="stop-mobile">
    <h1 class="reg-title" style="color:red;" >Но редактирование  на мобильных устройствах НЕВОЗМОЖНО!</h1> 
    <a class="logout-link" href="{% url 'logout' %}">ВЫЙТИ  </a> 
</div>
<div class="all-profile-wrapper">
 <div class="profile-objects-container">
    <h1 class="reg-title" >Ваши объявления</h1>

    <div class="profile-objects-wrapper">
{% for obj in user_city_objects %}
  <div class="hot-object-wrapper">
    {% include 'ecn/inclusion/object_card.html'%}
        <div class="profile-object-links-wrapper">
        <a href="{% url 'object_edit' obj.slug %}">редактировать</a>
        <a href="{% url 'object_delete' obj.slug %}">удалить</a>
        <a href="{% url 'manage_photos' obj.slug %}">добавить фото</a>
        </div>
    </div>
{% endfor %}
 

{% for obj in user_out_city_objects %}

<div class="hot-object-wrapper">
    {% include 'ecn/inclusion/dacha_card.html'%}
    <div class="profile-object-links-wrapper">
        <a href="{% url 'dacha_edit' obj.slug %}">редактировать</a>
        <a href="{% url 'dacha_delete' obj.slug %}">удалить</a>
        <a href="{% url 'manage_out_city_photos' obj.slug %}">добавить фото</a>
        </div>
      
    </div>

{% endfor %}
</div>
<hr>

<div class="profile-links-wrapper">
<a  class="update-profile-link"  href="{% url 'add_object' %}">ДОБАВИТЬ ОБЪЕКТ</a> 
<a class="update-profile-link"  href="{% url 'add_dacha' %}">ДОБАВИТЬ ЗАГОРОДНЫЙ ОБЪЕКТ</a> 
</div>

</div>
   <div class="profile-wrapper ">
        <h1 class="reg-title" >Ваши регистрационные данные</h1>
        <p class="user-info">Ваше аккаунт: {{ user.username}} (id:{{ user.pk }})</p>
        <p class="user-info">Зарегистрирован: {{ user.date_joined }}</p>
        <p class="user-info">Телефон для связи: {{ user.phone_number }}</p>
        <p class="user-info">Электронная почта: {{ user.email }}</p>
            <hr>
        <div class="profile-links-wrapper">
            <a class="update-profile-link" href="{% url 'update_user_info' %}"> РЕДАКТИРОВАТЬ ДАННЫЕ</a>
            <a class="logout-link" href="{% url 'logout' %}">ВЫЙТИ  </a>
        </div>

    </div>
</div>

{% endblock content %}