<header>

  <a href='{% url "home" %}'>
    <div class="header-items logo-box"> <img src="{{logo.image.url}}" alt="{{logo.description}}" /></div>
  </a>

  <div class="header-items header-nav">
    <nav role="navigation">

      <ul class="nav-header-links">
        <li><a class="dropdown" href="{% url 'search_sale_or_rent' 's' %}">Продажа</a>
          <p class="dropdown-passive"> Продажа</p>
          <ul>
            {% for incity in in_city_object_type %}

            <li data-link='{{incity.slug}}'><a href="{% url 'search_object_type' 's' incity.id %}">{{incity.title}}</a>
            </li>

            {% endfor %}
            {% for incity in out_city_object_type %}

            <li data-link='{{incity.slug}}'><a href="{% url 'smart_dacha_obj_type' incity.id %}">{{incity.title}}</a>
            </li>

            {% endfor %}
          </ul>

        </li>
        <li><a class="dropdown" href="{% url 'search_rent_sale_or_rent' 'r' %} ">Аренда</a>
          <p class="dropdown-passive"> Аренда</p>
          <ul>
            {% for incity in in_city_object_type %}
            {% if incity.title == 'Квартиры' or incity.title == 'Комнаты' %}
            <li data-link='{{incity.slug}}'><a href="{% url 'search_rent_object_type' 'r' incity.id %}">{{incity.title}}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </li>
        <li x-data>
          <div style="cursor: pointer;" @click="$dispatch('ev', {open: 'true'})">услуги</div>
        </li>

        {% if user.is_authenticated %}
        <li><a style="color:teal;" href="{% url 'profile' %}">{{ user }}</a></li>
        {% else %}
        <li><a class="login_icon" style="color:teal;" href="{% url 'user_login' %}">вход</a></li>
       


        {% endif %}



      </ul>
    </nav>


  </div>

</header>