    <a href="{{obj.get_absolute_url}}">
        <div class="instance-object">
        {% if obj.image %}
        <img style="max-width: 150px;max-height: 100px;" src="{{obj.image.url}}" alt="{{obj.title}}">
        {% else %}
        <img  style="max-width: 150px;max-height: 100px;" src="{{no_photo.image.url}}" alt="{{no_photo.description}}">
        {% endif %}
        <div class="instance-object-info">
        <p class="instance-object-title">{{obj.title}} </p>
        <p>район {{obj.city_region}} </p>
        <p>{{obj.object_adress}} </p>
        <p>{{obj.rooms}} </p>
        <p>{{obj.square}} кв.м </p>
        {% if obj.is_hot == True %}
        <div class="hot-price-container">{{obj.nice_price}} <span class="price"> </span></div>
        {% else %}
        <div class="hot-price-container not-hot-price">{{obj.nice_price}} <span class="price"> </span></div>
        {% endif %}
        {% if obj.sale_or_rent == 'r' %}
        <div class="rent-container">{{obj.get_sale_or_rent_display}} </div>
        {% endif %}
        </div>
        </div>
    </a>  
    
   