{% if items_count == 1 %}
    <p  style="font-size: 1.2rem;margin-bottom: 0.5rem;">Найдено {{ items_count }} объект</p>
{% elif items_count <= 4 %}
    <p  style="font-size: 1.2rem;margin-bottom: 0.5rem;">Найдено {{ items_count }} объекта</p>
{% else %}
    <p  style="font-size: 1.2rem;margin-bottom: 0.5rem;">Найдено {{ items_count }} объектов</p>
{% endif %}
{% if items_count > 0 %}
 <p id="searched_title" style="font-size: 1rem;"> от <span id="min_price">{{min_price}}</span>  до <span id="max_price">  {{max_price}} </span></p>
{% endif %}
<div class="searched-wrapper fadeIn">
   
    {% for obj in selected_items %}
    {% if obj.object_type|stringformat:"s" == "Новостройки" %}
        {% include 'ecn/inclusion/new_ap_card.html' %}
    {% else %}
        {% include 'ecn/inclusion/object_card.html' %}
    {% endif %}
    
    {% endfor%}
    </div> 
    
    
   
   
    