<p style="font-size: 1.2rem;">Найдено {{ items_count }} объектов</p>
<p style="font-size: 1.2rem;"> от  {{selected_items_min_price}} до {{max_price}}</p>
<div class="searched-wrapper fadeIn">
   
    {% for obj in selected_items %}
    {% if obj.object_type|stringformat:"s" == "Новостройки" %}
        {% include 'ecn/inclusion/new_ap_card.html' %}
    {% else %}
        {% include 'ecn/inclusion/object_card.html' %}
    {% endif %}
    {% empty %}
    <div class="non-searched"><h2>Нет объектов</h2></div>
    {% endfor%}
    </div> 
    
    </div>
    {% comment %} {% if selected_items.has_other_pages %}
    <div class="pagination-wrapper">
    {% if selected_items.has_previous %}
    <a class="pagination-item" href="?page={{selected_items.previous_page_number}}">&lt</a>
    {% endif%}
    {% for pag in selected_items.paginator.page_range %}
    {% if pag == selected_items.number %}
        <a class="pagination-item pagination-item-active" href="?page={{pag}}">{{pag}}</a>
    {% elif pag >= selected_items.number|add:-2 and pag <= selected_items.number|add:2 %}
    
    
    <a class="pagination-item" href="?page={{pag}}">{{pag}}</a>
    {% endif%}
    {% endfor%}
    {% if selected_items.has_next %}
    <a class="pagination-item" href="?page={{selected_items.next_page_number}}">&gt</a>
    {% endif%}
    {% endif %} {% endcomment %}
    </div>
    